In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LogisticRegression

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [34]:
iris_data=pd.read_csv("F:\\Data science\\iris.data")

In [35]:
iris_data.head(20)

     sepal_length  sepal_width  petal_length  petal_width       Specie
0             5.1          3.5           1.4          0.2  Iris-setosa
1             4.9          3.0           1.4          0.2  Iris-setosa
2             4.7          3.2           1.3          0.2  Iris-setosa
3             4.6          3.1           1.5          0.2  Iris-setosa
4             5.0          3.6           1.4          0.2  Iris-setosa
5             5.4          3.9           1.7          0.4  Iris-setosa
6             4.6          3.4           1.4          0.3  Iris-setosa
7             5.0          3.4           1.5          0.2  Iris-setosa
8             4.4          2.9           1.4          0.2  Iris-setosa
9             4.9          3.1           1.5          0.1  Iris-setosa
10            5.4          3.7           1.5          0.2  Iris-setosa
11            4.8          3.4           1.6          0.2  Iris-setosa
12            4.8          3.0           1.4          0.1  Iris-setosa
13            4.3          3.0           1.1          0.1  Iris-setosa
14            5.8          4.0           1.2          0.2  Iris-setosa
15            5.7          4.4           1.5          0.4  Iris-setosa
16            5.4          3.9           1.3          0.4  Iris-setosa
17            5.1          3.5           1.4          0.3  Iris-setosa
18            5.7          3.8           1.7          0.3  Iris-setosa
19            5.1          3.8           1.5          0.3  Iris-setosa

In [36]:
iris_data.isnull()

      sepal_length  sepal_width  petal_length  petal_width  Specie
0            False        False         False        False   False
1            False        False         False        False   False
2            False        False         False        False   False
3            False        False         False        False   False
4            False        False         False        False   False
..             ...          ...           ...          ...     ...
145          False        False         False        False   False
146          False        False         False        False   False
147          False        False         False        False   False
148          False        False         False        False   False
149          False        False         False        False   False

[150 rows x 5 columns]

In [37]:
iris_data.isnull().sum()

 sepal_length    0
sepal_width      0
petal_length     0
petal_width      0
Specie           0
dtype: int64

In [38]:
encode=LabelEncoder()
iris_data.Specie=encode.fit_transform(iris_data.Specie)

In [39]:
iris_data.head(6)

    sepal_length  sepal_width  petal_length  petal_width  Specie
0            5.1          3.5           1.4          0.2       0
1            4.9          3.0           1.4          0.2       0
2            4.7          3.2           1.3          0.2       0
3            4.6          3.1           1.5          0.2       0
4            5.0          3.6           1.4          0.2       0
5            5.4          3.9           1.7          0.4       0

In [40]:
train , test =train_test_split(iris_data,test_size=0.2,random_state=0)

In [41]:
train.shape

(120, 5)

In [42]:
test.shape

(30, 5)

In [43]:
train_x=train.drop(columns=['Specie'],axis=1)
train_y=train['Specie']

In [44]:
test_x = test.drop(columns=['Specie'],axis=1)
test_y = test['Specie']

In [46]:

model=LogisticRegression()

In [47]:
model.fit(train_x,train_y)

C:\Users\alken\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\alken\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [48]:
predictions=model.predict(test_x)

In [49]:
accuracy_score(test_y,predictions)*100

96.66666666666667